$content-width: 1280px;
$laptop-width: 1279px;
$tablet-width: 768px;
$max-mobile-width: 767px;
$mobile-width: 320px;

$color-background: rgb(214, 214, 214);
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-grey: #666666;
$color-for-caps: #66ff00;