@mixin font ($size, $lineheight: $size, $weight: bold, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $lineheight;
}

%font-add {
  font-family: 'Georgia', 'Times New Roman', serif;
}


body {
  @include font($size: 1rem, $lineheight: 1.6rem, $weight: normal);
  background-color: green;
}